# ceshi.cfg
adapter driver cmsis-dap
transport select swd

# TCP 配置
cmsis-dap tcp host 127.0.0.1
cmsis-dap tcp port 5555
cmsis-dap tcp min_timeout 15000

# STM32F1 target
source [find target/stm32f1x.cfg]

# 初始化目标
init
reset init